In [1]:
import pandas as pd

In [2]:
filepath ="DataFiles/car_sales.csv"
df=pd.read_csv(filepath)

In [3]:
df.tail()

   Manufacturer    Model  Year  Sales  Revenue
15         Ford   Escape  2023   2100    75000
16    Chevrolet  Equinox  2021   1700    60000
17    Chevrolet    Tahoe  2022   2200    80000
18       Nissan    Rogue  2023   2300    85000
19       Nissan   Murano  2021   1800    65000